<div class="body-container">
  <div class="title">
  <h4>New Lead</h4>
  </div>
  <hr>
  <div class="customer-info">
  <h5>Customer Info</h5>
  <div class="box-one">
    <dl class="frm">
      <dt><label for="Saluation">Saluation<span class="required">*</span></label></dt>
      <dd>
        <select id="Saluation" name="Saluation">
          <option>hyundai</option>
          <option>hyundai</option>
          <option>hyundai</option>
          <option>hyundai</option>
        </select>
       </dd>
    </dl>
    <dl class="frm">
      <dt><label for="CustomerName">Customer name <span class="required">*</span></label></dt>
      <dd>
        <input id="CustomerName" name="CustomerName"  >
      </dd>
    </dl>
    <dl class="frm">
      <dt><label for="Mobile">Mobile <span class="required">*</span></label></dt>
      <dd>
        <input id="Mobile" name="Mobile">
      </dd>
    </dl>
    <dl class="frm">
      <dt><label for="Email">Email <span class="required">*</span></label></dt>
      <dd>
        <input id="Email" name="Email" >
      </dd>
    </dl>
    <dl class="frm">
      <dt><label for="State">State</label></dt>
      <dd>
        <select id="State" name="State">
        </select>
      </dd>
    </dl>
    <dl class="frm">
      <dt><label for="City">City</label></dt>
      <dd>
        <select id="City" name="City">
        </select>    </dd>
    </dl>
     <dl class="frm">
      <dt><label for="addressOne">Address Line 1</label></dt>
      <dd>
        <input id="addressOne" name="addressOne">
      </dd>
    </dl>
    <dl class="frm">
      <dt><label for="addressTwo">Address Line 2 </label></dt>
      <dd>
        <input id="addressTwo" name="addressTwo">
      </dd>
    </dl>
    <dl class="frm">
      <dt><label for="Pincode">Pincode</label></dt>
      <dd>
        <input id="Pincode" name="Pincode">
      </dd>
    </dl>
    <dl class="frm">
      <dt><label for="Franchise">Franchise</label></dt>
      <dd>
        <select id="Franchise" name="Franchise">
        </select>    </dd>
    </dl>
  </div>
  </div>
  <hr>
  <div class="car-info">
    <h5>Car Info</h5>
  <div class="box-two d-flex flex-wrap">
    <dl class="frm">
      <dt><label for="Modal">Modal</label></dt>
      <dd>
        <select id="Modal" name="Modal">
        </select>
       </dd>
    </dl>
    <dl class="frm">
      <dt><label for="Variant">Variant</label></dt>
      <dd>
        <select id="Variant" name="Variant">
        </select>
       </dd>
    </dl>
    <dl class="frm">
      <dt><label for="Color">Color</label></dt>
      <dd>
        <select id="Color" name="Color">
        </select>
       </dd>
    </dl>
  </div>
  </div>
  <div class="save-btn d-flex justify-content-center">
    <button>Save</button>
    </div>
  </div>
