<div class="container-fluid">

  <div class="row-box">
    <div class="row-one">
      <div class="title_wrap ml-5" style="padding: 70px 0 40px;">
          <h2 class="login-title" style="font-weight: 800;">Login</h2>
          <h4 class="cc-title" style="font-size: 16px;color: grey;">Customer Care</h4>
      </div>
  </div>
  <div class="row-two d-flex justify-content-center">
      <div class="login-form" style="margin-top: 80px; margin-bottom: 60px;">
          <dl class="frm">
              <dt><label for="IdEmail">Login ID</label></dt>
              <dd>
   <input type="text" id="idIdEmail" name="id" placeholder="Login ID" class="input-box">
              </dd>
          </dl>
          <dl class="frm">
              <dt><label for="Password">Password</label></dt>
              <dd>
      <input type="password" id="Password" name="pw" placeholder="Password" class="input-box">
              </dd>
          </dl>
          <dl class="frm">
              <dd>
  <button [routerLink]="['../','customer-care']" class="login-btn">Login</button>
              </dd>
          </dl>
      </div>
  </div>

  </div>

  </div>
