<div class="body-container" style="background-color: #fff; border-radius: 2px; margin-bottom: 200px;">

  <div class="box-one d-flex flex-wrap justify-content-between" style="gap: 10px;">
  <h4 style="margin-top: 45px; font-weight: 550;">Order Details</h4>
  <div class="item-list">
    <dl class="frm">
      <dt><label>Test Drive</label></dt>
      <dd>
        <label>No</label>
       </dd>
    </dl>
    <dl class="frm">
      <dt><label>KYC</label></dt>
      <dd>
        <label>Done</label>
       </dd>
    </dl>
    <dl class="frm">
      <dt><label>Finance</label></dt>
      <dd>
        <label>No</label>
       </dd>
    </dl><dl class="frm">
      <dt><label>Vehicle Allocation</label></dt>
      <dd>
        <label>No</label>
       </dd>
    </dl>
  <dl class="frm">
    <dt><label>Vehicle Status</label></dt>
    <dd>
      <label>No</label>
     </dd>
  </dl>
  </div>
    </div>
    <hr>
    <div class="box-two">
<div class="item-list-two">
  <dl class="frm" style="width: 150px;">
    <dt><label>Reference Number</label></dt>
    <dd>
      <label>ORD8697866VFUF5</label>
     </dd>
  </dl>
  <dl class="frm">
    <dt><label>Booking Amount</label></dt>
    <dd>
      <label>Done</label>
     </dd>
  </dl>
</div>
<div class="item-list-two">
  <dl class="frm">
    <dt><label>Excess Funds</label></dt>
    <dd>
      <label>NA</label>
     </dd>
  </dl>
  <dl class="frm">
    <dt><label>Booking Date</label></dt>
    <dd>
      <label>10 July 2022</label>
     </dd>
  </dl>
</div>
    </div>

    <hr>
<div class="box-four">
  <div class="nav-link">
    <div class="link active-link" title="1">
      <a routerLink="select-Variant">Select Car & Color</a>
    </div>
    <div class="link active-link" title="2">
      <a routerLink="franchise">Select Franchise</a>
    </div>
    <div class="link active-link" title="3">
      <a routerLink="review">Review your Selection</a>
    </div>
    <div class="link active-link" title="4">
      <a routerLink="quotation">Quotation</a>
    </div>
    <div class="link active-link" title="5">
      <a routerLink="financing-option">Financing Options</a>
    </div>
    <div class="link active-link" title="6">
      <a routerLink="finalise-order">Finalise Order</a>
    </div>
    </div>
    <div class="dealer-box">
<div class="image-box">
  <img src=".../../../../../assets/icons/calculate_visual.png" class="img-fluid" style="max-width: 350px;">
</div>
<div style="width: 100%;">
  <div class="d-flex justify-content-around">
    <dl class="frm">
      <dt><label>MODEL NAME</label></dt>
      <dd>
        <label>IONIC 5</label>
       </dd>
    </dl>
    <dl class="frm">
      <dt><label>MODEL NAME</label></dt>
      <dd>
        <label>SE</label>
       </dd>
    </dl>
    <dl class="frm">
      <dt><label>Color</label></dt>
      <dd>
       <div style="width:25px;height:25px;border-radius:50%;background-color: rgb(196, 196, 193); margin-top: 5px;"></div>
       </dd>
    </dl>
    <dl class="frm">
      <dt><label>MSRP</label></dt>
      <dd>
        <label>4510500</label>
       </dd>
    </dl>
  </div>
  <div style="margin-left:60px;">
    <div class="d-flex" style="gap:5px">
      <div><button class="onlineBtn"></button> <span style="font-size: 12px;font-weight: 600;">Deep Hyundai</span></div>
<div><span class="rating-text">4.6</span> <span class="rating-color">★</span><span class="rating-color">★</span><span class="rating-color">★</span><span class="rating-color">★</span></div>
<a class="review">4999 Review</a>
    </div>
    <p class="dealer-address">C-5 INDL AREA PHASE 1 MANGOL PURI, C-5 INDL AREA PHASE 1 MANGOL PURI,Delhi 110083</p>
    <button class="dealer-phn"><a>9664574563</a></button>
  </div>
</div>
    </div>
</div>
    <div class="box-four">
      <div class="row">
<div class="col-sm-4 col-md-4">
<dl class="frm">
        <dt><label>RM Name</label></dt>
        <dd>
          <label>Manoj mehta</label>
         </dd>
      </dl>
</div>
<div class="col-sm-4 col-md-4">
  <dl class="frm">
    <dt><label>RM Email</label></dt>
    <dd>
      <label>manoj@ffuyf.com</label>
     </dd>
  </dl>
</div>
<div class="col-sm-4 col-md-4">
  <dl class="frm">
    <dt><label>RM Contact Number</label></dt>
    <dd>
      <label>46746585077</label>
     </dd>
  </dl>
</div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-md-4">
          <dl class="frm">
            <dt><label>Agent Name</label></dt>
            <dd>
              <label>mukesh mehta</label>
             </dd>
          </dl>
        </div>
        <div class="col-sm-4 col-md-4">
          <dl class="frm">
            <dt><label>Agent Email</label></dt>
            <dd>
              <label>mukesh@tfutyf.com</label>
             </dd>
          </dl>
        </div>
        <div class="col-sm-4 col-md-4">
          <dl class="frm">
            <dt><label>Agent Contact Number</label></dt>
            <dd>
              <label>458578578578</label>
             </dd>
          </dl>
        </div>
              </div>
    </div>

    <div class="box-five">

      <! -- collapse loan details  -->

      <div class="accordion accordionOne" id="accordionOne">
        <div class="accordion-item ">
          <button class="accordion-button-big text-uppercase" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
Loan Details </button>
          <div id="collapseOne" class="accordion-collapse collapse show drop-down-One" aria-labelledby="testDriveDetails" data-parent="#accordionOne">
            <div class="accordion-body">
<div class="row table-box ml-2 mr-2">
<div class="col-6">
  <table class="table table-borderless ">
    <tbody>
      <tr>
        <th>Amount Financed</th>
        <td>{{4012577 | currency:'INR':'symbol':'1.0'}}</td>
      </tr>
      <tr>
        <th>Tenure</th>
        <td>7 Years</td>
      </tr>
      <tr>
        <th>Interest Rate</th>
        <td>8.5%</td>
      </tr>
    </tbody>
  </table></div>
<div class="col-6">
  <table class="table table-borderless ">
    <tbody>
      <tr>
        <th>Processing Fees</th>
        <td>{{24645 | currency:'INR':'symbol':'1.0'}}</td>
      </tr>
      <tr>
        <th>EMI</th>
        <td>{{8575 | currency:'INR':'symbol':'1.0'}}</td>
      </tr>
    </tbody>
  </table>
</div>
</div>

 </div>
          </div>
        </div>
      </div>

      <! -- Basic Information   -->

      <div class="accordion accordionTwo" id="accordionTwo">
        <div class="accordion-item ">
          <button class="accordion-button-big text-uppercase" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            Basic Information </button>
          <div id="collapseTwo" class="accordion-collapse collapse show drop-down-Two" aria-labelledby="testDriveDetails" data-parent="#accordionTwo">
            <div class="accordion-body">
<div class="row table-box ml-2 mr-2">
<div class="col-6">
  <table class="table table-borderless ">
    <tbody>
      <tr>
        <th>Salutation</th>
        <td>Mr</td>
      </tr>
      <tr>
        <th>Name</th>
        <td>Sambhav Kumar</td>
      </tr>
      <tr>
        <th>Email Id</th>
        <td>MANOJ@TATATECHNOLOGIES.COM</td>
      </tr>
      <tr>
        <th>Gender</th>
        <td>MALE</td>
      </tr>
    </tbody>
  </table></div>
<div class="col-6">
  <table class="table table-borderless ">
    <tbody>
      <tr>
        <th>Marital Status</th>
        <td>Married</td>
      </tr>
      <tr>
        <th>Date of Birth</th>
        <td>1970-01-94</td>
      </tr>
      <tr>
        <th>PAN</th>
        <td>EFYFYF686</td>
      </tr>
      <tr>
        <th>Mobile Number</th>
        <td>685764574</td>
      </tr>
    </tbody>
  </table>
</div>
</div>

 </div>
          </div>
        </div>
      </div>

      <! -- Residence address details  -->


      <div class="accordion accordionThree" id="accordionThree">
        <div class="accordion-item ">
          <button class="accordion-button-big text-uppercase" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            Residence Address Details </button>
          <div id="collapseThree" class="accordion-collapse collapse show drop-down-Three" aria-labelledby="testDriveDetails" data-parent="#accordionThree">
            <div class="accordion-body">
<div class="row table-box ml-2 mr-2">
<div class="col-6">
  <table class="table table-borderless ">
    <tbody>
      <tr>
        <th>Moved Current res.</th>
        <td>5</td>
      </tr>
      <tr>
        <th>Address line 1</th>
        <td>ftuffuf</td>
      </tr>
      <tr>
        <th>Address line 2</th>
        <td>MANOJ@td</td>
      </tr>
      <tr>
        <th>Residence Type</th>
        <td>own</td>
      </tr>
    </tbody>
  </table></div>
<div class="col-6">
  <table class="table table-borderless ">
    <tbody>
      <tr>
        <th>State</th>
        <td>UK</td>
      </tr>
      <tr>
        <th>City</th>
        <td>Pithoragarh</td>
      </tr>
      <tr>
        <th>Pin Code</th>
        <td>457474</td>
      </tr>
    </tbody>
  </table>
</div>
</div>

 </div>
          </div>
        </div>
      </div>

      <! -- Work details  -->

      <div class="accordion accordionFour" id="accordionFour">
        <div class="accordion-item ">
          <button class="accordion-button-big text-uppercase" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            Work Details </button>
          <div id="collapseFour" class="accordion-collapse collapse show drop-down-Four" aria-labelledby="testDriveDetails" data-parent="#accordionFour">
            <div class="accordion-body">
<div class="row table-box ml-2 mr-2">
<div class="col-6">
  <table class="table table-borderless ">
    <tbody>
      <tr>
        <th>Customer Category</th>
        <td>5</td>
      </tr>
      <tr>
        <th>Company Name</th>
        <td>TATA</td>
      </tr>
      <tr>
        <th>Type Of Organisation</th>
        <td>MNC</td>
      </tr>
      <tr>
        <th>Current running EMI If any</th>
        <td>0</td>
      </tr>
      <tr>
        <th>No Of Yrs Current Job</th>
        <td>5</td>
      </tr>
    </tbody>
  </table></div>
<div class="col-6">
  <table class="table table-borderless ">
    <tbody>
      <tr>
        <th>Address line 1</th>
        <td>tddtdd</td>
      </tr>
      <tr>
        <th>Address line 2</th>
        <td>Pithoragarh</td>
      </tr>
      <tr>
        <th>State</th>
        <td>UK</td>
      </tr>
      <tr>
        <th>City</th>
        <td>Pithoragarh</td>
      </tr>
      <tr>
        <th>Pin Code</th>
        <td>457474</td>
      </tr>
    </tbody>
  </table>
</div>
</div>

 </div>
          </div>
        </div>
      </div>

      <! -- Reference Details  -->


      <div class="accordion accordionFive" id="accordionFive">
        <div class="accordion-item ">
          <button class="accordion-button-big text-uppercase" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
            Reference Details </button>
          <div id="collapseFive" class="accordion-collapse collapse show drop-down-Five" aria-labelledby="testDriveDetails" data-parent="#accordionFive">
            <div class="accordion-body">
<div class="row table-box ml-2 mr-2">
<div class="col-6">
  <table class="table table-borderless ">
    <tbody>
      <tr>
        <th>Name of Reference 1</th>
        <td>mukesh</td>
      </tr>
      <tr>
        <th>Mobile Number</th>
        <td>586585</td>
      </tr>
    </tbody>
  </table></div>
<div class="col-6">
  <table class="table table-borderless ">
    <tbody>
      <tr>
        <th>Name of Reference 2</th>
        <td>manoj</td>
      </tr>
      <tr>
        <th>Mobile Number</th>
        <td>658585858</td>
      </tr>
    </tbody>
  </table>
</div>
</div>

 </div>
          </div>
        </div>
      </div>

      <! -- CKYC / BANK Details  -->


      <div class="accordion accordionSix" id="accordionSix">
        <div class="accordion-item ">
          <button class="accordion-button-big text-uppercase" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
            CKYC / BANK Details  </button>
          <div id="collapseSix" class="accordion-collapse collapse show drop-down-Six" aria-labelledby="testDriveDetails" data-parent="#accordionSix">
            <div class="accordion-body">
<div class="row table-box ml-2 mr-2">
<div class="col-6">
  <table class="table table-borderless ">
    <tbody>
      <tr>
        <th>Proof Of Identity</th>
        <td>passport number</td>
      </tr>
      <tr>
        <th>Proof Of Address</th>
        <td>adhar</td>
      </tr>
      <tr>
        <th>Passport Number</th>
        <td>467f77</td>
      </tr>
      <tr>
        <th>Passport Exp. Date</th>
        <td>586585</td>
      </tr>
    </tbody>
  </table></div>
</div>

 </div>
          </div>
        </div>
      </div>

      <! -- Documents upload  -->

      <div class="accordion accordionSeven" id="accordionSeven">
        <div class="accordion-item ">
          <button class="accordion-button-big text-uppercase" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
            Documents upload </button>
          <div id="collapseSeven" class="accordion-collapse collapse show drop-down-Seven" aria-labelledby="testDriveDetails" data-parent="#accordionSeven">
            <div class="accordion-body">
<div class="row table-box ml-2 mr-2">
<div class="col-6">
  <table class="table table-borderless ">
    <tbody>
      <tr>
        <th>Identity Proof</th>
        <td>passport</td>
      </tr>
      <tr>
        <th>Sign Verf.Proof</th>
        <td>passport</td>
      </tr>
      <tr>
        <th>Salaried</th>
        <td>salslip</td>
      </tr>
    </tbody>
  </table></div>
<div class="col-6">
  <table class="table table-borderless ">
    <tbody>
      <tr>
        <th>Address Proof</th>
        <td>manoj</td>
      </tr>
      <tr>
        <th>Age Proof</th>
        <td>vfuf</td>
      </tr>
    </tbody>
  </table>
</div>
</div>

 </div>
          </div>
        </div>
      </div>

      <! -- collapse Charger Installation  -->


      <div class="accordion accordionEight" id="accordionEight">
        <div class="accordion-item ">
          <button class="accordion-button" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
Charger Installation
          </button>
          <div id="collapseEight" class="accordion-collapse collapse show drop-down-eight" aria-labelledby="testDriveDetails" data-parent="#accordionEight">
            <div class="accordion-body">
<div class="charger-box mt-3 d-flex flex-wrap justify-content-center pl-3 pr-3">
<div class="d-flex flex-wrap">
  <dl class="frm">
    <dt class="mb-1"><label>Charger Installation Required</label></dt>
    <dd>
      <input type="checkbox" >
     </dd>
  </dl>
  <dl class="frm ml-4">
    <dt style="height: 25px;"><label>Remarks</label></dt>
    <dd>
      <input type="text"> <button>Save</button>
     </dd>
  </dl>
</div>
</div>
 </div>
          </div>
        </div>
      </div>

      <! -- collapse Customer Information  -->

      <div class="accordion accordionNine" id="accordionNine">
        <div class="accordion-item ">
          <button class="accordion-button" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
Customer Information </button>
          <div id="collapseNine" class="accordion-collapse collapse show drop-down-nine" aria-labelledby="testDriveDetails" data-parent="#accordionNine">
            <div class="accordion-body">
    <div class="customer-info d-flex flex-wrap" style="margin-top: 20px; margin-left: 35px;">
      <dl class="frm">
        <dt><label>Customer Type</label></dt>
        <dd>
          <label>Individual</label>
         </dd>
      </dl>
      <dl class="frm">
        <dt><label>Customer Name</label></dt>
        <dd>
          <label>Done</label>
         </dd>
      </dl>
      <dl class="frm">
        <dt><label>Customer Mobile No</label></dt>
        <dd>
          <label>No</label>
         </dd>
      </dl>
      <dl class="frm">
        <dt><label>Customer Email</label></dt>
        <dd>
          <label>manoj@tatatechnologies.com</label>
         </dd>
      </dl>
      <dl class="frm">
        <dt><label>Delivery Option</label></dt>
        <dd>
          <label>pick up franchise</label>
         </dd>
      </dl>
      <dl class="frm">
        <dt><label>Customer Billing Address</label></dt>
        <dd>
          <label>addresss line 1 vyvvv city-11585</label>
         </dd>
      </dl>
    </div>
 </div>
          </div>
        </div>
      </div>

      <! -- collapse payment Information  -->

      <div class="accordion accordionTenth" id="accordionTenth">
        <div class="accordion-item ">
          <button class="accordion-button" type="button" data-toggle="collapse" data-target="#collapseTenth" aria-expanded="true" aria-controls="collapseTenth">
Payments Information </button>
          <div id="collapseTenth" class="accordion-collapse collapse show drop-down-Tenth" aria-labelledby="testDriveDetails" data-parent="#accordionTenth">
            <div class="accordion-body">
<div class="btn-show d-flex flex-row-reverse" style="margin-top: 20px; margin-right: 45px;">
  <button>Show Transaction</button>
</div>
<div class="table-pay-info">
  <table class="table table-bordered table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Details</th>
        <th>Total Paid</th>
        <th>Balance</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Ex. Showroom</td>
        <td>{{4000000 | currency:'INR':'symbol':'3.0'}}</td>
        <td>{{100000 | currency:'INR':'symbol':'3.0'}}</td>
      </tr>
      <tr>
        <td>2</td>
        <td>RTO</td>
        <td>{{180000 | currency:'INR':'symbol':'3.0'}}</td>
        <td>{{0 | currency:'INR':'symbol':'3.0'}}</td>
      </tr>
      <tr>
        <td>3</td>
        <td>Insurance</td>
        <td>{{300000 | currency:'INR':'symbol':'3.0'}}</td>
        <td>{{0 | currency:'INR':'symbol':'3.0'}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td>Toatal Balance</td>
        <td>{{450000 | currency:'INR':'symbol':'1.0'}}</td>
      </tr>
    </tfoot>
  </table>
</div>
<div class="d-flex justify-content-center">
  <dl class="frm">
    <dt><label>Excess Margin Money From Customer</label></dt>
    <dd>
      <label>{{0 | currency:'INR':'symbol':'1.0'}}</label>
     </dd>
     <dd>
<button class="btn-refund"> Request Refund to Customer</button>
    </dd>
  </dl>
  <dl class="frm ml-5">
    <dt><label>Excess Franchise Payment from Financer</label></dt>
    <dd>
      <label>{{0 | currency:'INR':'symbol':'1.0'}}</label>
     </dd>
     <dd>
      <button class="btn-refund"> Request Excess Fund to Franchise</button>
          </dd>
  </dl>
</div>

 </div>
          </div>
        </div>
      </div>

      <! -- collapse documents Information  -->

      <div class="accordion accordionEleven" id="accordionEleven">
        <div class="accordion-item ">
          <button class="accordion-button" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven">
Documents Information </button>
          <div id="collapseEleven" class="accordion-collapse collapse show drop-down-Eleven" aria-labelledby="testDriveDetails" data-parent="#accordionEleven">
            <div class="accordion-body">
              <div class="accordionEleven-box-one mt-4 d-flex flex-wrap" style="margin-left: 35px; margin-right: 35px;">
                <dl class="frm">
                  <dt><label>Quotation</label></dt>
                  <dd>
                    <label>View</label>
                   </dd>
                </dl>
                <dl class="frm">
                  <dt><label>Principle Approval letter</label></dt>
                  <dd>
                    <label>NA</label>
                   </dd>
                </dl>
                <dl class="frm">
                  <dt><label>Sanction Letter</label></dt>
                  <dd>
                    <label>NA</label>
                   </dd>
                </dl>
                <dl class="frm">
                  <dt><label>Disbursal Letter</label></dt>
                  <dd>
                    <label>NA</label>
                   </dd>
                </dl>
                <dl class="frm">
                  <dt><label>Bank Disbursal Form</label></dt>
                  <dd>
                    <label>NA</label>
                   </dd>
                </dl>
                <dl class="frm">
                  <dt><label>Form 34</label></dt>
                  <dd>
                    <label>NA</label>
                   </dd>
                </dl>
                <dl class="frm">
                  <dt><label>Invoice</label></dt>
                  <dd>
                    <label>NA</label>
                   </dd>
                </dl>
                <dl class="frm">
                  <dt><label>RC Receipt</label></dt>
                  <dd>
                    <label>NA</label>
                   </dd>
                </dl>
                <dl class="frm">
                  <dt><label>Insurance Copy</label></dt>
                  <dd>
                    <label>NA</label>
                   </dd>
                </dl>
                <dl class="frm">
                  <dt><label>Delivy Documents</label></dt>
                  <dd>
                    <label>NA</label>
                   </dd>
                </dl>
                <dl class="frm">
                  <dt><label>RC Copy</label></dt>
                  <dd>
                    <label>NA</label>
                   </dd>
                </dl>
              </div>
              <div class="accordionEleven-box-two" style="  background-color: rgb(249, 249, 249); ">
                <div class="folloup-box ml-5">
                 <h5 style="padding-top: 30px;font-weight: bold; font-size: 15px;">New Folloup</h5>
                 <div class="folloup-box-form d-flex flex-wrap justify-content-between">
                   <div class="d-flex flex-wrap" style="gap:10px">
                     <dl class="frm">
                       <dt><label for="Saluation">Folloup Time:</label></dt>
                       <dd>
                         <select id="Saluation" name="Saluation">
                           <option>hyundai</option>
                           <option>hyundai</option>
                         </select>
                        </dd>
                     </dl>
                     <dl class="frm">
                       <dt><label for="Saluation">Folloup Type:</label></dt>
                       <dd>
                         <select id="Saluation" name="Saluation">
                           <option>hyundai</option>
                           <option>hyundai</option>
                         </select>
                        </dd>
                     </dl>
                   </div>
                   <dl class="frm mr-5">
                     <dt><label for="Saluation">Enquiry Type:</label></dt>
                     <dd>
                       <select id="Saluation" name="Saluation">
                         <option>hyundai</option>
                         <option>hyundai</option>
                       </select>
                      </dd>
                   </dl>
                 </div>
                 <div class="folloup-box-form-two d-flex flex-nowrap" style="gap:15px; margin-right: 45px;">
                   <dl class="frm">
                     <dt><label for="Saluation">Scheme Offered</label></dt>
                     <dd>
                       <textarea name="Comments" id="extComments"></textarea>
                      </dd>
                   </dl>
                   <dl class="frm">
                     <dt><label for="Saluation">Folloup Remarks</label></dt>
                     <dd>
                       <textarea name="Comments" id="extComments"></textarea>
                      </dd>
                   </dl>
                 </div>
                 <div class="folloup-box-form-three d-flex flex-wrap" style="gap:25px">
                   <dl class="frm">
                     <dt><label for="FolloupTime">New Folloup Time</label></dt>
                     <dd>
                       <select id="FolloupTime" name="Saluation">
                         <option>hyundai</option>
                         <option>hyundai</option>
                       </select>
                      </dd>
                   </dl>
                   <dl class="frm-end-two">
                     <dt><label for="FolloupType">New Folloup Type</label></dt>
                     <dd>
                       <select id="FolloupType" name="FolloupType">
                         <option>hyundai</option>
                         <option>hyundai</option>
                       </select>
                      </dd>
                   </dl>
                 </div>
                </div>
               </div>
               <div class="accordionEleven-box-three" style="padding-bottom: 100px;">
                 <h5>Folloups</h5>
                 <div class="box-three-container">

                   <table class="table table-bordered table-sm table-md">
                     <thead>
                       <tr>
                         <th>No.</th>
                         <th>Folloup Time</th>
                         <th>Folloup Type</th>
                         <th>Enquiry</th>
                         <th>Folloup Remarks</th>
                         <th>New Folloup Time</th>
                         <th>New Folloup Type</th>
                         <th>RM</th>
                         <th>Agent</th>
                         <th>Create Date</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr>
                         <td>1</td>
                         <td>10 july 2012 10:00 AM </td>
                         <td>phone</td>
                         <td>Warm</td>
                         <td>customer has booked with us </td>
                         <td>10 july 2012 12:00 PM</td>
                         <td>EMP12345 Sambhav</td>
                         <td>Doe</td>
                         <td>EMP12345 Sambhav</td>
                         <td>10 July 2022</td>
                       </tr>
                     </tbody>
                   </table>
                 </div>
               </div>

 </div>
          </div>
        </div>
      </div>


    </div>

</div>

<div class="container-bottom">
<div class="d-flex">
<div style="text-align: center;">
<h4><strong style="color: #002c5f;">{{0|currency:"INR":'symbol' : '1.0-0'}}</strong></h4>
<h6 style="font-weight: 500;">Balance Amount Due</h6>
</div>
<div class="ml-5">
  <button class="verify-btn"> <span>Verify Customer</span></button>
</div>
</div>
</div>
