<div class="side-link">
  <h2>Customer Care</h2>
  <hr>
  <ul class="list">
    <li routerLink="leads" routerLinkActive="active">Leads</li>
    <li routerLink="lead" routerLinkActive="active">Lead</li>
    <li>Booking Interests</li>
    <li routerLink="test-drive" routerLinkActive="active">TestDrive</li>
    <li routerLink="book-test-drive" routerLinkActive="active">Book Test Drive</li>
    <li routerLink="orders" routerLinkActive="active">Orders</li>
    <li routerLink="order-details" routerLinkActive="active">Orders Details</li>
    <li>Reports</li>
  </ul>
  </div>
