.side-link
{
  display: flex;
  flex-direction: column;
background-color: #fff;
border-radius: 2px;
min-width: 230px;
max-width: 350px;
height: fit-content;
margin-left: auto;
}

.side-link h2
{
  font-size: 25px;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 15px;
  color: rgb(29, 29, 112);
}

hr
{
margin: 0px 25px 0px;
}

.side-link .list
{
  margin-top: 10px;
}
.side-link .list li
{
  font-weight: 500;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}

.side-link .list li:last-child
{
  margin-bottom: 30px;
}

.active
{
  color: rgb(17, 77, 168);
  list-style: none;
  padding-left: 15px;
  transition: 0.5s padding-left;
  background-color: rgb(235, 235, 235);
}

@media only screen and (max-width: 700px)
   {

    .side-link
    {
min-width: 100%;
max-width: 100%;
justify-content: center;
    }

    .side-link .list
    {
      list-style: none;
    }

    .side-link .list li
{
 text-align: center;
 margin-left:0;
}


   }
