<div class="body-container">

  <div class="box-one">
  <h4>Lead</h4>
  <div class="btn-box">
  <button >Generate Inquiry</button>
  <button (click)="link()">New Test Drive</button>
  </div>
    </div>
    <hr>
  <div class="box-two row ml-4 mr-4" style="margin-top: 20px;">
  <div class="col-sm-6 col-md-6 col-one">
    <table class="table table-borderless table-sm table-md">
      <tbody>
        <tr>
          <td class="label">Lead ID:</td>
          <td class="label-details">xxxx-xxxx-xxxx-xxxx</td>
        </tr>
        <tr>
          <td class="label">Customer Name:</td>
          <td class="label-details">Sambhav Kumar</td>
        </tr>
        <tr>
          <td class="label">Mobile No. :</td>
          <td class="label-details">9866645454</td>
        </tr>
        <tr>
          <td class="label">Customer Email:</td>
          <td class="label-details">SambhavKumar@tatatechnologies.com</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6 col-two">
    <table class="table table-borderless table-sm table-md">
      <tbody>
        <tr class="date-label">
          <td> <span class="label mr-1">Date:</span> <span class="label-details">10 July 2022</span> </td>
        </tr>
        <tr>
          <td>&nbsp;</td>
         </tr>
        <tr>
          <td> <span class="label mr-3">Assigned Agent:</span> <span class="label-details">SambhavKumar@tatatechnologies.com</span> </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
  <div class="box-three" style="  background-color: rgb(249, 249, 249); ">
   <div class="folloup-box ml-5">
    <h5>New Folloup</h5>
    <div class="folloup-box-form d-flex flex-wrap justify-content-between">
      <div class="d-flex flex-wrap" style="gap:10px">
        <dl class="frm">
          <dt><label for="Saluation">Folloup Time:</label></dt>
          <dd>
            <select id="Saluation" name="Saluation">
              <option>hyundai</option>
              <option>hyundai</option>
            </select>
           </dd>
        </dl>
        <dl class="frm">
          <dt><label for="Saluation">Folloup Type:</label></dt>
          <dd>
            <select id="Saluation" name="Saluation">
              <option>hyundai</option>
              <option>hyundai</option>
            </select>
           </dd>
        </dl>
      </div>
      <dl class="frm mr-5">
        <dt><label for="Saluation">Enquiry Type:</label></dt>
        <dd>
          <select id="Saluation" name="Saluation">
            <option>hyundai</option>
            <option>hyundai</option>
          </select>
         </dd>
      </dl>
    </div>
    <div class="folloup-box-form-two" style="gap:15px">
      <dl class="frm">
        <dt><label for="Saluation">Scheme Offered</label></dt>
        <dd>
          <textarea name="Comments" id="extComments"></textarea>
         </dd>
      </dl>
      <dl class="frm">
        <dt><label for="Saluation">Folloup Remarks</label></dt>
        <dd>
          <textarea name="Comments" id="extComments"></textarea>
         </dd>
      </dl>
    </div>
    <div class="folloup-box-form-three d-flex flex-wrap" style="gap:25px">
      <dl class="frm">
        <dt><label for="FolloupTime">New Folloup Time</label></dt>
        <dd>
          <select id="FolloupTime" name="Saluation">
            <option>hyundai</option>
            <option>hyundai</option>
          </select>
         </dd>
      </dl>
      <dl class="frm-end-two">
        <dt><label for="FolloupType">New Folloup Type</label></dt>
        <dd>
          <select id="FolloupType" name="FolloupType">
            <option>hyundai</option>
            <option>hyundai</option>
          </select>
         </dd>
      </dl>
    </div>
   </div>
  </div>

  <div class="box-four" style="padding-bottom: 100px;">
    <h5>Folloups</h5>
    <div class="box-four-container">

      <table class="table table-bordered table-sm table-md">
        <thead>
          <tr>
            <th>No.</th>
            <th>Folloup Time</th>
            <th>Folloup Type</th>
            <th>Enquiry</th>
            <th>Folloup Remarks</th>
            <th>New Folloup Time</th>
            <th>New Folloup Type</th>
            <th>RM</th>
            <th>Agent</th>
            <th>Create Date</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>10 july 2012 10:00 AM </td>
            <td>phone</td>
            <td>Warm</td>
            <td>customer has booked with us </td>
            <td>10 july 2012 12:00 PM</td>
            <td>EMP12345 Sambhav</td>
            <td>Doe</td>
            <td>EMP12345 Sambhav</td>
            <td>10 July 2022</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
